@model Tennis.ViewModels.Competitions.TeamAddViewModel
@{
    ViewData["Title"] = "Team";
}

@section scripts
{
    <script>
        "use strict";

        (function($) {
            $("#add-team-player")
                .click(function() {
                    var $playerOrders = $("<input>")
                        .addClass("form-control")
                        .attr({
                            "name": "PlayerOrders",
                            "placeholder": "Order",
                            "style": "display: inline-block !important"
                        });

                    var $players = $("<select></select>")
                        .addClass("form-control")
                        .attr({
                            "name": "PlayerIds",
                            "style": "display: inline-block !important"
                        });

                    $players.append($("<option></option>").attr("value", "").text("Select Player"));
                    @foreach (var player in Model.Players)
                    {
                        @Html.Raw($"$players.append($(\"<option></option>\").attr(\"value\", \"{player.PlayerId}\").text(\"{player.FirstName} {player.LastName}\"));")
                    }

                    var $removeTeamMember = $("<span></span>")
                        .addClass("glyphicon glyphicon-remove")
                        .attr("aria-hidden", true)
                        .bind("click",
                            function() {
                                var $parent = $(this).parent().parent();
                                $parent.remove();
                            });

                    var $column = $("<div></div>")
                        .addClass("col-xs-12 col-sm-offset-2 col-sm-10 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11")
                        .append($playerOrders)
                        .append($players)
                        .append($removeTeamMember);

                    var $formGroup = $("<div></div>")
                        .addClass("form-group")
                        .append($column);

                    $("#players").append($formGroup);
                });
        })(jQuery);
    </script>
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Add Team to @Model.ClubName</h2>

        <form asp-controller="Club" asp-action="AddTeam" asp-route-clubId="@Model.ClubId" method="post">
            <h3>Team Details</h3>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-2 col-md-1 col-lg-1 control-label" asp-for="@Model.Name"></label>
                        <div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">
                            <input class="form-control" asp-for="Name" value="@Model.Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-2 col-md-1 col-lg-1 control-label" asp-for="@Model.Tag"></label>
                        <div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">
                            <input class="form-control" asp-for="Tag" value="@Model.Tag" />
                        </div>
                    </div>
                </div>
            </div>

            <h3>Team Players</h3>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="players"></div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-2 col-sm-10 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
                            <button type="button" class="btn btn-default" id="add-team-player">Add Team Player</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-2 col-sm-10 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>