@model Tennis.ViewModels.Competitions.TeamAddViewModel
@{
    ViewData["Title"] = "Team";
}

@section scripts
{
    <script src="~/js/addPlayer.js"></script>
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Add Team to @Model.ClubName</h2>

        <form asp-controller="Club" asp-action="AddTeam" asp-route-clubId="@Model.ClubId" method="post">
            <h3>Team Details</h3>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-2 col-md-1 col-lg-1 control-label" asp-for="@Model.Name"></label>
                        <div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">
                            <input class="form-control" asp-for="Name" value="@Model.Name" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-2 col-md-1 col-lg-1 control-label" asp-for="@Model.Tag"></label>
                        <div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">
                            <input class="form-control" asp-for="Tag" value="@Model.Tag" />
                        </div>
                    </div>
                </div>
            </div>

            <h3>Team Members</h3>

            @{
                await Html.RenderPartialAsync("_AddPlayers").ConfigureAwait(false);
            }
        </form>
    </div>
</div>