@using Tennis.Common.Extensions
@model Tennis.ViewModels.Competitions.ClubViewModel
@{
    ViewData["Title"] = "Club";

    var club = Model.Club;
}

<div class="row">
    <h2>Club Details</h2>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            <li>Name: @club.Name</li>
            <li>Manager: @club.Manager (@string.Join(" | ", club.Contacts))</li>
            <li>Address: @club.Venue.FullAddress</li>
            @if (!string.IsNullOrWhiteSpace(club.Url))
            {
                <li>Website: <a href="@club.Url" target="_blank">@club.Url</a></li>
            }
        </ul>
    </div>
    
    <h2>Players</h2>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            @if (club.Players.IsNullOrEmpty())
            {
                <li>There is no player</li>
            }
            else
            {
                foreach (var player in club.Players)
                {
                    <li>@player.LastName, @player.FirstName</li>
                }
            }
        </ul>
    </div>
    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a asp-controller="Club" asp-action="AddPlayer" asp-route-clubId="@club.ClubId">Add Player</a>
        </div>
    }
</div>