@using Tennis.Common.Extensions
@model Tennis.ViewModels.Competitions.TeamViewModel
@{
    ViewData["Title"] = "Team";

    var team = Model.Team;
}

<div class="row">
    <h2>Team Details</h2>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            <li>Name: @team.Name @(string.IsNullOrWhiteSpace(team.Tag) ? string.Empty : $"- {team.Tag}")</li>
            <li>Manager: @team.Club.Manager (@string.Join(" | ", team.Club.Contacts))</li>
            <li>Address: @team.Club.Venue.FullAddress</li>
            @if (!string.IsNullOrWhiteSpace(team.Club.Url))
            {
                <li>Website: <a href="@team.Club.Url" target="_blank">@team.Club.Url</a></li>
            }
        </ul>
    </div>

    <h2>Players</h2>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                </tr>
                @if (team.TeamPlayers.IsNullOrEmpty())
                {
                    <tr>
                        <td colspan="2">There is no player</td>
                    </tr>
                }
                else
                {
                    foreach (var tp in team.TeamPlayers.OrderBy(p => p.Order))
                    {
                        <tr>
                            <td>@tp.Order</td>
                            <td>@tp.Player.FirstName @tp.Player.LastName</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>

    <h2>Competition</h2>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            @if (team.CompetitionTeams.IsNullOrEmpty())
            {
                <li>No competition allocated</li>
            }
            else
            {
                foreach (var ct in team.CompetitionTeams)
                {
                    <li><a asp-controller="Competition" asp-action="GetCompetition" asp-route-competitionId="@ct.CompetitionId">@ct.Competition.Name</a></li>
                }
            }
        </ul>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form asp-controller="Club" asp-action="AddCompetition" asp-route-clubId="@team.ClubId" asp-route-teamId="@team.TeamId" method="post">
                <div class="form-group">
                    <input type="hidden" asp-for="Name" value="@team.Name"/>
                    <input type="hidden" asp-for="Tag" value="@team.Tag"/>
                    <select class="form-control" style="display: inline-block !important" asp-for="Competition" asp-items="@Model.Competitions"></select>
                    <button type="submit" class="btn btn-primary" style="display: inline-block !important">Allocate Competition</button>
                </div>
            </form>
        </div>
    }
</div>