@using Tennis.Common.Extensions
@model Tennis.ViewModels.Competitions.TeamViewModel
@{
    ViewData["Title"] = "Team";

    var team = Model.Team;
}

<div class="row">
    <h2>Team Details</h2>

    @*<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            <li>Name: @club.Name</li>
            <li>Manager: @club.Manager (@string.Join(" | ", club.Contacts))</li>
            <li>Address: @club.Venue.FullAddress</li>
            @if (!string.IsNullOrWhiteSpace(club.Url))
            {
                <li>Website: <a href="@club.Url" target="_blank">@club.Url</a></li>
            }
        </ul>
    </div>
    
    <h2>Teams</h2>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Team</th>
                    <th>Players</th>
                </tr>
                @if (club.Teams.IsNullOrEmpty())
                {
                    <tr>
                        <td colspan="2">There is no team</td>
                    </tr>
                }
                else
                {
                    foreach (var team in club.Teams.OrderBy(p => p.Name))
                    {
                        <tr>
                            <td>@team.Name</td>
                            <td>@team.TeamPlayers.OrderBy(p => p.Order).Select(p => $"{p.Player.FirstName} {p.Player.LastName}")</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a asp-controller="Club" asp-action="AddTeam" asp-route-clubId="@club.ClubId">Add Team</a>
        </div>
    }*@
</div>