@using Tennis.Common.Extensions
@model Tennis.ViewModels.Competitions.TeamViewModel
@{
    ViewData["Title"] = "Team";

    var team = Model.Team;
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>@team.Name @(string.IsNullOrWhiteSpace(team.Tag) ? string.Empty : $"- {team.Tag}") &ndash; @team.Club.Name</h2>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Manager</th>
                            <th>Club</th>
                            <th>Phone</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Website</th>
                        </tr>
                        <tr>
                            <td>@team.Club.Manager</td>
                            <td>@team.Club.ClubHousePhone</td>
                            <td>@team.Club.Phone</td>
                            <td>@team.Club.Mobile</td>
                            <td>@team.Club.Email</td>
                            <td>@team.Club.Venue.FullAddress</td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(team.Club.Url))
                                {
                                    <a href="@team.Club.Url" target="_blank">@team.Club.Url</a>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Players</h2>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Number</th>
                            <th>Name</th>
                        </tr>
                        @if (team.TeamPlayers.IsNullOrEmpty())
                        {
                            <tr>
                                <td colspan="2">There is no player</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var tp in team.TeamPlayers.OrderBy(p => p.Order))
                            {
                                <tr>
                                    <td>@tp.Order</td>
                                    <td>@tp.Player.FirstName @tp.Player.LastName</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
        
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form asp-controller="Club" asp-action="AddPlayerToTeam" asp-route-clubId="@team.ClubId" asp-route-teamId="@team.TeamId" method="post">
                        <div class="form-group">
                            <select class="form-control" style="display: inline-block !important" asp-for="Player" asp-items="@Model.Players"></select>
                            <input class="form-control" style="display: inline-block !important" asp-for="PlayerOrder"/>
                            <button type="submit" class="btn btn-primary" style="display: inline-block !important">Allocate Player</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Competitions</h2>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul>
                    @if (team.CompetitionTeams.IsNullOrEmpty())
                    {
                        <li>No competition allocated</li>
                    }
                    else
                    {
                        foreach (var ct in team.CompetitionTeams)
                        {
                            <li><a asp-controller="Competition" asp-action="GetCompetition" asp-route-competitionId="@ct.CompetitionId">@ct.Competition.Name</a></li>
                        }
                    }
                </ul>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form asp-controller="Club" asp-action="AddCompetition" asp-route-clubId="@team.ClubId" asp-route-teamId="@team.TeamId" method="post">
                        <div class="form-group">
                            <input type="hidden" asp-for="Name" value="@team.Name" />
                            <input type="hidden" asp-for="Tag" value="@team.Tag" />
                            <select class="form-control" style="display: inline-block !important" asp-for="Competition" asp-items="@Model.Competitions"></select>
                            <input class="form-control" style="display: inline-block !important" asp-for="TeamNumber" />
                            <button type="submit" class="btn btn-primary" style="display: inline-block !important">Allocate Competition</button>
                        </div>
                    </form>
                </div>
            </div>
        }
</div>
</div>