@using Tennis.Common.Extensions
@model Tennis.ViewModels.Competitions.ClubCollectionViewModel
@{
    ViewData["Title"] = "Clubs";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Clubs</h2>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Club</th>
                            <th>Supervisor</th>
                            <th>Address</th>
                            <th>Contact</th>
                            <th>Phone</th>
                            <th>Mobile</th>
                        </tr>
                        @if (Model.Clubs.IsNullOrEmpty())
                        {
                            <tr>
                                <td colspan="6">There is no club</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var club in Model.Clubs)
                            {
                                <tr>
                                    <td><a asp-controller="Club" asp-action="GetClub" asp-route-clubId="@club.ClubId">@club.Name</a></td>
                                    <td>@club.Manager</td>
                                    <td>@club.Venue.FullAddress</td>
                                    <td>@club.ClubHousePhone</td>
                                    <td>@club.Phone</td>
                                    <td>@club.Mobile</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a class="btn btn-primary" asp-controller="Club" asp-action="AddClub">Add Club</a>
                </div>
            </div>
        }
    </div>
</div>