@using Tennis.Common.Extensions
@model Tennis.ViewModels.Competitions.CompetitionViewModel
@{
    ViewData["Title"] = "Competition";

    var competition = Model.Competition;
}

<div class="row">
    <h2>Competition Details</h2>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            <li>Name: @competition.Name</li>
            <li>Year: @competition.Year</li>
            <li>Season: @competition.Season</li>
            <li>Day: @competition.Day</li>
            <li>Type: @competition.Type</li>
            <li>Grade: @competition.Grade</li>
            <li>Level: @competition.Level</li>
            <li><a href="@competition.TrolsUrl" target="_blank">Official TROLS page</a></li>
        </ul>
    </div>

    <h2>Participating Teams</h2>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
            @if (competition.Teams.IsNullOrEmpty())
            {
                <li>There is no participating team</li>
            }
            else
            {
                foreach (var team in competition.Teams)
                {
                    @*<li><a asp-controller="Club" asp-action="GetTeam" asp-route-teamId="@team.TeamId">@team.Club.Name</a> - @team.Club.Venue.FullAddress - @team.Club.Manager (@string.Join(" | ", team.Club.Contacts))</li>*@
                }
            }
        </ul>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        @*if (!Model.Clubs.IsNullOrEmpty())
        {
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form class="form-inline" asp-controller="Competition" asp-action="AddTeam" asp-route-competitionId="@competition.CompetitionId" method="post">
                    <div class="form-group">
                        <select class="form-control" asp-for="Team" asp-items="@Model.Teams"></select>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        }*@

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            @*<a asp-controller="Club" asp-action="AddTeam">New Team</a>*@
        </div>
    }

    <h2>Fixtures</h2>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @*<ul>
            @if (competition.Fixtures.IsNullOrEmpty())
            {
                <li>There is no fixture</li>
            }
            else
            {
                foreach (var fixture in competition.Fixtures)
                {
                    <li>Round @fixture.Week.ToString("00"): @fixture.DateScheduled.ToString("dd/MM/yyyy HH:mm") at @fixture.Venue.FullAddress [<a asp-controller="Competition" asp-action="GetFixture" asp-route-competitionId="@fixture.CompetitionId" asp-route-fixtureId="@fixture.FixtureId">Result</a>]</li>
                }
            }
        </ul>*@
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a asp-controller="Competition" asp-action="AddFixture">Add Fixture</a>
        </div>
    }
</div>