@using Tennis.Common.Extensions
@model Tennis.ViewModels.Competitions.CompetitionViewModel
@{
    ViewData["Title"] = "Competition";

    var competition = Model.Competition;
}

@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        "use strict";

        (function ($) {
            var url = $.validator.format("/clubs/{0}/teams");

            var emptyOption = function (elementId) {
                var $option = $("<option></option>")
                    .attr("value", "")
                    .text("Select Team");
                $("#" + elementId).empty().append($option);
            };

            var appendTeam = function (elementId, team) {
                var $option = $("<option></option>")
                    .attr("value", team.teamId)
                    .text(team.name);
                $("#" + elementId).append($option);
            };

            var appendTeams = function (elementId, teams) {
                $.each(teams,
                    function (i, team) {
                        appendTeam(elementId, team);
                    });
            };

            $("#Club")
                .change(function () {
                    emptyOption("club-team");

                    var clubId = $(this).val();
                    if (clubId === "") {
                        return;
                    }

                    $.getJSON(url(clubId),
                        function (teams) {
                            appendTeams("club-team", teams);
                        });
                });
        })(jQuery);
    </script>
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>@competition.Name</h2>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Year</th>
                            <th>Season</th>
                            <th>Day</th>
                            <th>Type</th>
                            <th>Grade</th>
                            <th>Level</th>
                            <th>TROLS</th>
                        </tr>
                        <tr>
                            <td>@competition.Year</td>
                            <td>@competition.Season</td>
                            <td>@competition.Day</td>
                            <td>@competition.Type</td>
                            <td>@competition.Grade</td>
                            <td>@competition.Level</td>
                            <td><a href="@competition.TrolsUrl" target="_blank">@competition.TrolsUrl</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Participating Teams</h2>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Number</th>
                            <th>Team</th>
                            <th>Address</th>
                            <th>Supervisor</th>
                        </tr>
                        @if (competition.CompetitionTeams.IsNullOrEmpty())
                        {
                            <tr>
                                <td colspan="4">There is no participating team</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var ct in competition.CompetitionTeams.OrderBy(p => p.TeamNumber))
                            {
                                <tr>
                                    <td>@ct.TeamNumber</td>
                                    <td><a asp-controller="Club" asp-action="GetTeam" asp-route-clubId="@ct.Team.ClubId" asp-route-teamId="@ct.Team.TeamId">@ct.Team.Club.Name @(string.IsNullOrWhiteSpace(ct.Team.Tag) ? string.Empty : $"- {ct.Team.Tag}")</a></td>
                                    <td>@ct.Team.Club.Venue.FullAddress</td>
                                    <td>@ct.Team.Club.Manager (@string.Join(" | ", ct.Team.Club.Contacts))</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form class="form-inline" asp-controller="Competition" asp-action="AddTeam" asp-route-competitionId="@competition.CompetitionId" method="post">
                        <div class="form-group">
                            <select class="form-control" style="display: inline-block !important" asp-for="Club" asp-items="@Model.Clubs"></select>
                            <select class="form-control" style="display: inline-block !important" name="Team" id="club-team">
                                <option value="">Select Team</option>
                            </select>
                            <input class="form-control" style="display: inline-block !important" asp-for="TeamNumber" placeholder="Team Number" />
                            <button type="submit" class="btn btn-primary">Add Team</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Fixtures</h2>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Round</th>
                            <th>Date</th>
                            <th>Venue</th>
                            <th>Details</th>
                        </tr>
                        @if (competition.Fixtures.IsNullOrEmpty())
                        {
                            <tr>
                                <td colspan="4">There is no fixture</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var fixture in competition.Fixtures)
                            {
                                <tr>
                                    <td>@fixture.Week.ToString("00")</td>
                                    <td>@fixture.DateScheduled.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@fixture.Club.Name &ndash; @fixture.Club.Venue.FullAddress</td>
                                    <td><a asp-controller="Competition" asp-action="GetFixture" asp-route-competitionId="@fixture.CompetitionId" asp-route-fixtureId="@fixture.FixtureId">View</a></td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a class="btn btn-primary" asp-controller="Competition" asp-action="AddFixture">Add Fixture</a>
                </div>
            </div>
        }
    </div>
</div>