@model Tennis.ViewModels.Competitions.MatchesUpdateViewModel
@{
    ViewData["Title"] = "Matches";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Update Matches</h2>

        <form asp-controller="Competition" asp-action="UpdateMatches" asp-route-competitionId="@Model.CompetitionId" asp-route-fixtureId="@Model.FixtureId" method="post">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h3>Home</h3>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">Home</label>
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                                    <span>@Model.Fixture.HomeTeam.Club.Name</span>
                                </div>
                            </div>

                            @for (var i = 1; i <= Model.NumberOfPlayers; i++)
                            {
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">Player @i</label>
                                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                                        <select class="form-control" name="HomePlayerIds">
                                            @foreach (var homePlayer in Model.HomePlayers)
                                            {
                                                <option value="@homePlayer.Value" selected="@homePlayer.Selected">@homePlayer.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h3>Away</h3>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">Away</label>
                                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                                    <span>@Model.Fixture.AwayTeam.Club.Name</span>
                                </div>
                            </div>

                            @for (var i = 1; i <= Model.NumberOfPlayers; i++)
                            {
                                <div class="clearfix"></div>

                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 col-md-2 col-lg-2 control-label">Player @i</label>
                                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                                        <select class="form-control" name="AwayPlayerIds">
                                            @foreach (var awayPlayer in Model.AwayPlayers)
                                            {
                                                <option value="@awayPlayer.Value" selected="@awayPlayer.Selected">@awayPlayer.Text</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>